@import "../../../custom";

.bgimage {
    width: 100%;
    height: 400px;
    background: url(../static/campusDark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}

.bg-pale-green {
    background-color: #9fe09f;
}