@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans', "Roboto","Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Make element sticky*/
.sticky {
  position: relative;

  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;

  top: 0;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
}


/*html {*/
/*  scroll-behavior: smooth;*/
/*}*/