/*Time title col + col for each day*/
$grid-row-count:13*4;
/*Day title row + row for each 15 minute segment from 8 AM to 9 PM*/
$grid-col-count:7;

$grid-outline-border: 1px solid lightgrey;
$default-border-radius: 5px;

.grid-container {
  display: grid;
  grid-template-columns: 60px repeat($grid-col-count,1fr);
  grid-template-rows: 30px repeat($grid-row-count,15px);
  border-radius: $default-border-radius;
  border: $grid-outline-border;
}

%grid-item{
  border: 1px solid #444444;
  //margin: -1px;
  border-radius: 1px;
}

.grid-item{
  @extend %grid-item;
}

.preview{
  opacity: 0.8;
}

/*Row outlines*/
@for $i from 1 through $grid-row-count{
  .grid-row-outline-#{$i}{
    border: $grid-outline-border;
    grid-row-start: $i+1;
    grid-row-end: $i+5;
    grid-column-start: 2;
    grid-column-end: 9;
  }
}

/*Col outlines*/
@for $i from 1 through $grid-col-count{
  .grid-col-outline-#{$i}{
    border: $grid-outline-border;
    grid-row-start: 2;
    grid-row-end: $grid-row-count+2;
    grid-column-start: $i+1;
    grid-column-end: $i+2;
  }
}

/*Row headers*/
@for $i from 1 through $grid-row-count {
  .grid-row-head-#{$i} {
    text-align:center;
    border: $grid-outline-border;
    grid-row-start: $i+1;
    grid-row-end: $i+5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/*Col headers*/
@for $i from 1 through $grid-col-count {
  .grid-col-head-#{$i} {
    text-align:center;
    border: $grid-outline-border;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: $i+1;
    grid-column-end: $i+2;
  }
}