.grid-container {
  display: grid;
  /*Time title col + col for each day*/
  grid-template-columns: 30px repeat(7,1fr);
  /*Day title row + row for each 15 minute segment from 8 AM to 9 PM*/
  grid-template-rows: 30px repeat(calc(13*4),20px);
  border-style: solid;
  border-width: 1px;
}

.grid-item{
  background-color: powderblue;
}

.grid-test-1{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
}